<h1>{{heading}} {{today | date:'short' | lowercase}}</h1>

<router-outlet></router-outlet>

<!--<div *ngFor="let customer of customers; let i=index">
    <ng-container [ngSwitch]="i">
        <span *ngSwitchCase="0">[zero] </span>
        <span *ngSwitchCase="1">[one] </span>
        <span *ngSwitchDefault>[{{i}}] </span>
    </ng-container>
    
    <span>{{customer.firstName}} </span>
    <span>{{customer.lastName}} </span>
    <img class="icon" [src]="customer.resident | residentIcon" alt="">
    
    <div>
        {{customer.credit | currency:'EUR':'code'}}
    </div>
</div> -->


<!-- <button (click)="onButtonClick()">Click me</button>
<input #h type="text" [(ngModel)]="heading">
<input type="checkbox" [(ngModel)]="headingHasError">
<img [src]="imgSrc" alt="Linz during the day"> -->


